html, body {
	height: 100%;
	width: 100%;
	background-color: #94bae7;
	margin: 0;
	padding: 0;
	overflow: none;
}

div {
	width: 500px;
	margin: 20px auto;
	border: dashed 3px #1A1D23;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 20px 50px 50px 50px;
}