* {
	box-sizing: border-box;
	font-family: Helvetica;
}

html, body {
	width: 100%;
	padding: 10px;
	margin: 0;
}

body {
	height: 2000px;
	background: #caff1c;
	background: -moz-linear-gradient(top, #FF00FA  0%, #00BBF1 100%);
	background: -webkit-linear-gradient(top, #FF00FA  0%,#00BBF1 100%);
	background: linear-gradient(to bottom, #FF00FA  0%,#00BBF1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF00FA ', endColorstr='#ff8989',GradientType=0 );
}

nav {
	width: 24%;
	float: right;
	position: fixed;
	top: 0px;
	right: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

nav ul li {
	background-color: #000;
}

nav ul li:hover {
	border-right: 3px solid #00ff4A;
}

nav ul li:last-child {
	border-right: 3px solid #FF0000;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition:  0.55s;
}

nav ul li a:hover {
    background-color: #333;
}

.inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: #FFF;
}

section {
	width: 74%;
}

section .inner {
	padding: 20px;
}

