html {height: 98%;}
body {height: 98%;}
header {
	text-align: center;
}
hgroup {
	background:url(images/banner.jpg); 
	background-position: center;
	background-repeat: no-repeat;

} 
hgroup h1 {
	color: rgba(255,255,255,0.8);
	font-family: serif;
	font-size: 44px;
	font-weight: bold;
	text-align: center;
}
nav ul {
	border-top: double 3px #8e8e8e;
	text-align: center;
	margin-bottom: 40px; /*extra toegevoegd om overlappen te voorkomen */
}
nav ul li {
	float: left;
	padding: 0px 30px;
	list-style-type: none;
	border-bottom: solid 1px #8e8e8e;
}
nav ul li a {
	font-size: 20pt;
	font-weight: bold;
	color: rgb(86,122,199);
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.70);
	border-radius: 6px;
	transition:all 1.0s ease-in-out;
}
nav ul li a:hover,
nav ul li a:focus {
	color: #fff;
	background: rgb(86,122,199);
}
article {
	float: left;
	width: 540px;
	height: 500px;
	margin: 10px;
	overflow: scroll;
	padding: 0 0 0 0;
	border: 1px solid #ddd;
	background: -moz-linear-gradient(top, #94bae7 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, #94bae7 , #fff );
	background: -o-gradient(#94bae7, #fff);
	background: linear-gradient(#94bae7, #fff);
}
article header h1 {
	z-index: 1;
	position: relative;
	top: -80px;
	left: 30px;
	margin: 10px 0px 0px 0px;
	font-family: Arial;
	font-size: 1.5em;
	color: #fff;
	text-shadow: 5px 5px 10px #000;
}
aside {
	float: right;
	width: 150px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ddd;
}
div.streep1 { 
	background: hsla(165, 35%, 50%, 1.0);
	height: 20px;
 }
 div.streep2 { 
	background: hsla(165, 35%, 50%, 0.8);
	height: 20px;
 }
 div.streep3 { 
	background: hsla(165, 35%, 50%, 0.6);
	height: 20px;
 }
 div.streep4 { 
	background: hsla(165, 35%, 50%, 0.4);
	height: 20px;
 }
 div.streep5 { 
	background: hsla(165, 35%, 50%, 0.2);
	height: 20px;
 }
 footer {
 	width: 750px;
 	float: left;
 	margin: 5px;
 	padding: 5px;
 	border: 1px solid #ddd;
 }
 footer ul li {
 	float: left;
 	padding: 10px;
 	list-style: none;
 }
 footer ul li a img {
 	width: 100px;
 	padding: 10px;
 }
 footer ul.galerij li a:hover img {
 	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
 	-webkit-transform-origin: bottom left;
 	-moz-transform-origin: bottom left;
 	-o-transform-origin: bottom left;
 	transform-origin: bottom left;
 	transform: scale(1.5);
 	border-radius: 10px;
 }
.rondehoeken {
	border-radius: 10px;
}
.logo {

	font-family: segoe ui;
	font-size: 2.0em;
	color: #000;
	padding-left: 30px;
	margin: 0px 0px 0px 0px;
	border-radius: 40px;
	opacity: 0.5;
}
#item {
	margin: 0px 0px 20px 0px;
	font-family: Arial;
	font-size: 0.88em;
	color: #4c4c4c;
	line-height: 1.6em;
}
#content {
	width: 800px;
	height: 98%;
	margin: 0px auto;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
#intro {
	position: relative;
	height: 80px;
	margin: 0px 0px 0px 0px
	top: 20px;
	left: 20px;
	-webkit-transition: all 6s ease-in;
	transition: all 6s ease-in;
}
#iam {
	font-family: segoe ui;
	font-size: 1.0em;
	color: #fff;
}

#rodelogo {
	z-index: 1;
	width: 250px;
	height: 60px;
	background: rgb(246, 141, 145);
	position: relative;
}
#blauwelogo {
	z-index: 2;
	position: relative;
	top: -70px;
	left: 60px;
	width: 250px;
	height: 80px;
	background: rgb(159, 163, 229);
}
#groenelogo {
	z-index: 3;
	position: relative;
	top: -100px;
	left: 120px;
	width: 200px;
	height: 60px;
	background: rgb(144, 216, 165);
}
#rodelogo, #blauwelogo, #groenelogo {
	-webkit-transition: all 4s ease-in;
	transition: all 4s ease-in;
}
#intro:hover #rodelogo {
	transform: translate(100%,0px);
}
#intro:hover #groenelogo {
	transform: translate(-100px,0px);
}
#intro:hover #blauwelogo {
	transform: rotate(360deg);
}
#video-container {
	margin-left: 12px;
	margin-bottom: 12px;
}
#advert1 {
	background-image: url(images/shoe.jpg);
	background-repeat: no-repeat;
	background-position: 50% 88%;
	text-align: center;
	text-transform: uppercase;
	margin: 10px 5px;
}
#advert2 {
	/*padding-top: 30px;*/
	height: 100px;
	background: -moz-linear-gradient(top, #487a77 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, #487a77 , #fff );
	background: -o-gradient(#487a77, #fff);
	background: linear-gradient(#487a77, #fff);
	margin: 10px 5px;
}
#advert2:hover { /*klein beetje aangepast van #advert2 a:hover */
	color: #484848;
	transform:rotate(10deg) scale(1.5);
	-webkit-transform: rotate(7deg) scale(1.5);
}

#snickers {
	opacity: 0.5;
}