* {
	box-sizing: border-box;
	font-family: Helvetica;
}
body {
	background: #caff1c;
	background: -moz-linear-gradient(top, #caff1c 0%, #ff8989 100%);
	background: -webkit-linear-gradient(top, #caff1c 0%,#ff8989 100%);
	background: linear-gradient(to bottom, #caff1c 0%,#ff8989 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#caff1c', endColorstr='#ff8989',GradientType=0 );
}

html, body {
	width: 100%;
	height: 100%;
	padding: 40px 0;
	margin: 0;

}

section, header {
	width: 100%;
	top: 0px;
}

header {
	position: fixed;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

nav ul li {
	float: left;
	width: 25%;
	padding: 15px;
	border-right: 3px solid #555;
	background-color: #000;
	transition: 0.25s;
}
nav ul li:hover {
	background-color: #555;
	-webkit-transform: rotate(260deg); /* Safari */
    transform: rotate(360deg);
}

nav ul li:last-child {
	border-right: none;
}
nav ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;

}
nav ul li a:hover {

}

.inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: #FFF;
	margin: 0 auto;
}

section .inner {
	padding: 20px;
}
